html {
  font-family: 'Roboto', sans-serif;
  color: rgb(26, 25, 25);
}

pre {
  background-color: rgb(10, 23, 44);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

body, h1, p {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

#th-api-logo {
  max-width: 50%;
  height: auto;
}

#documentation {
  padding: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #e5e4e4;
}

h1 {
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

#th-studio-img {
  width: 100%;
  height: 200px;
  object-fit: none;
  opacity: 80%;
}