html {
  font-family: 'Roboto', sans-serif;
  /* color: rgb(250, 250, 250); */
}

body, h1, p {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
}

#th-api-logo {
  max-width: 50%;
  height: auto;
}

#documentation {
  padding: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #dad8d8;
}

h1 {
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}

#th-studio-img {
  width: 100%;
  height: 200px;
  object-fit: none;
  opacity: 80%;
}